.TextCard {
  width: calc(100% - 7px - 7px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 7px;
  padding-left: 7px;
  color: var(--text-color);
}