.TextCard {
  width: calc(100% - 7px - 7px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sfpd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--text-color);

  padding-right: 7px;
  padding-left: 7px;
}