.AllNews {
  width: calc(100vw - 16px - 16px);
  height: 110px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-left: 16px;
  padding-right: 16px;
  gap: 19px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.AllNews::-webkit-scrollbar {
  display: none;
}

.TodayWork {
  display: flex;
  width: 100%;

  background: linear-gradient(180deg, var(--main-menu-gradient) 0%, #ffffff00 100%);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  margin-top: 26px;
}

.BtnCont {
  width: calc(100% - 22px - 22px);
  margin: 18px 22px 22px 22px;
}