.Menu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.TitleContainer {
  display: flex;
  width: calc(100% - 16px - 16px);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  
  margin: 20px 16px 0px 16px;
}

.Title {
  color: var(--text-color);
  margin: 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: sfpdn;
} 

.TitleContainer > *:nth-child(2) {
  flex-grow: 1;
}

.Subtitle {
  color: var(--hint-color);
  margin: 0;
  margin-left: 16px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: sfpd;
}