.Menu {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.TitleContainer {
  display: flex;
  width: calc(100% - 16px - 16px);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  
  margin: 20px 16px 0px 16px;
}

.TitleContainer > *:nth-child(2) {
  flex-grow: 1;
}