.Text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--size);
  font-style: var(--style);
  font-weight: var(--weight);
  line-height: var(--line-height);
  text-align: var(--align);
  width: var(--width);
  margin: var(--margin);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}