.NewsCard {
  display: inline-flex;
  align-items: center;
  height: 110px;
  min-width: 84px;
  max-width: 84px;
  border-radius: 5px;
  overflow: hidden;

  background: conic-gradient(
    from var(--angle),
    #ffffff00 0deg,
    var(--color) 180deg,
    #ffffff00 340deg
  );
}

.NewsCardText {
  overflow-wrap: break-word;
}